* {
	box-sizing: border-box;
}
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
#map {
	height: 90%;
}
header {
	height: 10%;
	text-align: center;
}

h1 {
	// background-color: red;
	margin: 0;
}